async-timeout==3.0.1
Flask==1.1.2
Flask-MySQLdb==0.2.0
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
json5==0.9.5
jupyter==1.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
MarkupSafe==1.1.1
matplotlib==3.2.2
mysqlclient==2.0.3
notebook==6.0.3
numpy==1.20.1
opencv-contrib-python==4.5.1.48
packaging==20.9
pandas==1.0.5
pip == 20.1.1
scikit-learn==0.23.1
sqlparse==0.4.1
seaborn==0.10.1
setuptools==52.0.0  
Werkzeug==1.0.1
tensorflow==2.3.0   
keras==2.4.3